{% extends 'base.html'%}

{% block page_name %} Question 1 {% endblock %}

{% block content %}
<h2>Question 1 </h2>
<p>{{question.question}}</p>
<form action="/answers/new" method="POST">
    {% for choice in question.choices %}
    <p>
        <input type="radio" name="answer" value="{{choice}}">{{choice}}
    </p>
    {% endfor %}
    <!-- <div>
        <input type="radio" id="yes" name="yes" value=“yes">
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="no" value=“no">
        <label for="no">No</label>
    </div> -->
</form>
<form action="/questions1">
    <button>Next</button>
</form>

{% endblock %}